html {
  background-color: rgb(151, 63, 5);
  color: rgb(243, 156, 26)
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navb {
  display: flex;
  flex-direction: row;
  max-width: 80%;
  margin:auto
}

li {
  list-style-type: none;
  margin:auto;
  background-color: white; 
  padding: 0.5vh;
  border-radius: 1vh;
  border-color: black;
  border-width: 0.2vh;
}

.friends {
  position: absolute;
  width: 20vh;
  height: 80vh;
  background-color: rgb(243, 156, 26);
  left: 15vh;
  border-radius: 1vh;
}

.chatrooms {
  position: absolute;
  width: 20vh;
  height: 80vh;
  background-color: rgb(243, 156, 26);
  right: 15vh;
  border-radius: 1vh;
}

.messages {
  
  width: 40vw;
  height: 40vw;
  background-color: rgb(243, 156, 26);
  position: fixed;
  left:30vw;
  border-radius: 1vh;
}

